<?xml version="1.0" encoding="utf-8"?>

<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  version="2.5">

  <servlet>
    <servlet-name>GWTServiceServlet</servlet-name>
    <servlet-class>org.slim3.gwt.server.rpc.GWTServiceServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>GWTServiceServlet</servlet-name>
    <url-pattern>*.s3gwt</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
