<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  version="2.5">

  <servlet>
    <servlet-name>KtrWjrServiceServlet</servlet-name>
    <servlet-class>bufferings.ktr.wjr.server.service.KtrWjrServiceServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>KtrWjrServiceServlet</servlet-name>
    <url-pattern>/ktrwjr/ktrwjr/ktrwjr.s3gwt</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
